body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 130%;
  
}

.wrapper {
  width: 550px;
  margin: 0 auto;
}


label {
  width: 200px;
  float: left;
  position: relative;
  vertical-align: top;
  top: 12px;
}

input{
  width: 320px;
  font-size: 25px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 5px 12px 5px;
  box-sizing: border-box;
}


.formelement {
  margin-bottom: 10px;
  position: relative;
}


#submitbutton {
  width: 130px;
  
 
  margin-left: 200px;
  
}


.toggle-btn {
  
  top: 12px;
 
  background: none;
  border: none;
  color: rgb(7, 7, 28);
  font-size: 16px;
  cursor: pointer;
}
